/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html,body {
  width: 100%;
  height: 100%;
  line-height: 1;
  background: #F8F8F8;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* 分页器样式 */
.el-pagination.is-background .el-pager li:not(.disabled).active {
  font-size: 16px !important;
  background-color: #3FBDD4 !important;
  border-color: #3FBDD4 !important;
  color: #FFF !important;
}
.el-pagination.is-background .el-pager li:not(.active):hover {
  color: #3FBDD4 !important;
}
.el-pagination button, .el-pagination span:not([class*=suffix]){
  height: 34px !important;
  line-height: 34px !important;
  font-size: 16px !important;
  color: #777777 !important;
  font-weight: lighter;
}
.el-pagination.is-background .el-pager li{
  width:45px !important;
  height:34px !important;
  font-size: 16px !important;
  line-height: 34px !important;
  color: #777777 !important;
  font-weight: lighter;
  background: #ffffff;
  border:1px solid #EEEEEE;
  border-radius:2px;
}
/* jumper */
.el-pagination__editor.el-input .el-input__inner {
  height: 34px !important;
  color: #777777 !important;
}

/* 条数选择器 */
.el-pagination .el-select .el-input .el-input__inner {
  height: 34px !important;
  line-height: 34px !important;
  font-size: 16px !important;
  color: #777777 !important;
}
/* btn-next,btn-prev */
.el-pagination.is-background .btn-next, .el-pagination.is-background .btn-prev {
  width:86px !important;
  height:34px !important;
  color: #777777 !important;
  background:rgba(255,255,255,1) !important;
  border:1px solid rgba(238,238,238,1) !important;
  border-radius:2px;
}

/* 表格选中样式 */
.el-checkbox__input.is-checked .el-checkbox__inner, .el-checkbox__input.is-indeterminate .el-checkbox__inner {
  background-color: #3FBDD4 !important;
  border-color: #3FBDD4 !important;
}

.el-table td, .el-table th {
  padding: 10px 0 !important;
}

.resource .el-table td .cell{ line-height: 36px;}

.el-table .el-table__header tr th {
  color: #6B7491 !important;
}

.current-row{
  position: relative;
}

.current-row td:nth-child(1){
  border-left:5px solid #3FBDD4;
  box-sizing: border-box;
}

.current-row td:nth-child(1) .cell{
  padding-left: 5px;
}

.defaultColor{
  color: #3FBDD4 !important;
}

.color19{
  color: #191919;
}

.centerMsg {
  top: 30% !important;
}

.el-upload-list__item { margin-top: 0 !important;}
/* 信息添加 */
.container .el-form-item__content{
  margin: 0px !important;
}
.container .el-form-item__error{
  margin-left: 50px;
}
.w50{
  width: 50%;
  float: left;
}
.flex {
  display: flex;
  align-items: center;
}
.linH .el-form-item__content, .flex .el-form-item__content{
  line-height: 0 !important;
}
.flex .el-form-item__content {
  display: flex;
}

.container .el-upload {
  width: 50px;
  height: 50px;
  line-height: 55px;
  text-align: center;
}

.el-upload-list--picture-card .el-upload-list__item {
  width: 50px !important;
  height: 50px !important;
  margin-bottom: 0 !important;
}

.container .flex .el-form-item__error,.linH .el-form-item__content .el-form-item__error{
  margin-left: 0;
}

.DialogBox .el-dialog{
  width: 500px !important;
  border-radius: 8px;
}

.form-item .el-form-item__label,.form-item .el-form-item__content{
  line-height: 32px !important;
}

.form-item .el-form-item__error {
  margin-left: 0;
  padding-top: 0;
}

.el-form-item .clear{
  margin-bottom: 0 !important;

}

.fixed{
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1000;
}

.mask{
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.center {
  background: #fff;
  padding:50px;
  box-sizing: border-box;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.center .el-form-item__error{
  margin-left: 0;
}